@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,600&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}
body{
   background-color: #d2dbdd; 
}
.heading{
  padding: 30px 0;
  text-align: center;
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #eedcdc;
  background-color: #000;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.cards{
  /* width: auto;
  height: auto; */
   display: grid;
   grid-template-columns:repeat(3,auto);
   justify-content: space-evenly  ;
   padding-top: 5rem;
}

.card__img{
  width: 18rem;
  height: 18rem;
  border-top-left-radius: 1rem ;
  border-top-right-radius: 1rem ;

}
.card__info{
  width: 18rem;
  height: 8rem;
   padding: 8px 16px;
   background: #fff;
   border-bottom-left-radius: 1rem ;
   border-bottom-right-radius: 1rem ;
   font-family: 'Fraunces', serif;

}
.card__info span{
  text-transform: capitalize;
  padding: 10px;
}

.card__info h3{
  padding: 10px;
  font-size: 18px;
}

.card{
  /* width: 100%;
  height: auto; */
padding-bottom: 10rem;
transition: all ease-in-out 0.5s;
}

.card:hover{
  /* width: 2px;
  height: 2px; */
transform: scale(1.1);
}
button{
  padding: 0.3rem 2rem;
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
  border: 3px solid black;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}